@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  overflow: hidden;
  height: 100vh;
}

body {
  overflow: hidden;
  height: 100vh;
  color: #000;
  background: linear-gradient(
    0deg,
    rgba(211, 231, 204, 1) 0%,
    rgba(211, 231, 204, 0.6843060661764706) 100%
  );
  box-sizing: border-box;
}
