@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .field {
    @apply flex flex-col bg-green-200 text-xs text-center items-center;
  }
  .start {
    @apply rounded-tl-md font-bold;
  }

  .freeParking {
    @apply rounded-br-md;
  }

  .jail {
    @apply rounded-tr-md p-2;
  }

  .goToJail {
    @apply rounded-bl-md;
  }

  .center {
    @apply flex flex-col flex-1 justify-center items-center;
  }
  .price {
    @apply text-xs text-gray-600;
  }
}

html {
  overflow: hidden;
  height: 100vh;
}

body {
  overflow: hidden;
  height: 100vh;
  color: #000;
  background: linear-gradient(
    0deg,
    rgba(211, 231, 204, 1) 0%,
    rgba(211, 231, 204, 0.6843060661764706) 100%
  );
  box-sizing: border-box;
}
