@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .field {
    @apply flex flex-col bg-green-200 text-xs text-center items-center p-1 min-w-[80px] min-h-[80px];
  }
  .start {
    @apply rounded-tl-md font-bold;
  }

  .freeParking {
    @apply rounded-br-md;
  }

  .jail {
    @apply rounded-tr-md p-2;
  }

  .goToJail {
    @apply rounded-bl-md;
  }

  .center {
    @apply flex flex-col w-full h-full justify-center items-center relative;
  }
  .price {
    @apply text-xs text-gray-700;
  }

  .card {
    @apply rounded-md border-2 border-black shadow-lg hover:scale-125 transition-all ease-in-out cursor-pointer;
  }

  .control {
    @apply absolute  bg-green-300 py-2 px-4 flex flex-row items-center justify-center hover:bg-green-400 transition-all ease-in-out shadow-lg cursor-pointer;
  }

  .select {
    @apply bg-green-400 py-2 px-4 flex flex-row items-center justify-center hover:bg-green-500 transition-all ease-in-out shadow-lg cursor-pointer rounded-md;
  }

  .flippedCard {
    @apply absolute w-full h-full cursor-pointer transform rounded-md shadow-lg overflow-hidden flex flex-col items-center bg-white;
  }

  .row {
    @apply w-full flex flex-row items-center justify-between mb-1;
  }
}

body {
  overscroll-behavior: none;
  background: linear-gradient(
    0deg,
    rgba(211, 231, 204, 1) 0%,
    rgba(211, 231, 204, 0.6843060661764706) 100%
  );
  box-sizing: border-box;
  user-select: none;
}

.gradient {
  background: linear-gradient(
    0deg,
    rgba(211, 231, 204, 1) 0%,
    rgba(211, 231, 204, 1) 100%
  );
}
